<div class="footerColor">
    <div class="footer">
      <div class="footerLogo">
        <div class="footerLogo1">
          <img src="images/download.jpg" alt="">
          <h1>ARTISTHUB</h1>
        </div>
        <div>
          <p>Connecting artists and art lovers from around the world.</p>
        </div>
      </div>
      <div class="footerContent">
        <h2>Marketplace</h2>
        <ul>Paintings</ul>
        <ul>Digital Art</ul>
        <ul>Photography</ul>
        <ul>Sculptures</ul>
      </div>
      <div class="footerContent">
        <h2>Account</h2>
        <ul>Login</ul>
        <ul>Sign up</ul>
        <ul>Dashboard</ul>
        <ul>My Profile</ul>
      </div>
      <div class="footerContent">
        <h2>Company</h2>
        <ul>About us</ul>
        <ul>Contact</ul>
        <ul>Terms and Services</ul>
        <ul>Privacy Poulcies</ul>
      </div>
    </div>
    <div class="madeby">
      <div class="name">
        <p>© 2025 ArtistHub. All rights reserved.</p>
      </div>
      <div class="links">
        <i class="ri-linkedin-box-line"></i>
        <i class="ri-github-line"></i>
      </div>
    </div>
  </div>