<div class="nav">
    <div class="leftNav">
      <img src="images/download.jpg" alt="">
      <a href="" class="logo">ARTISTHUB</a>
      <a href="">Market Place</a>
      <a href="">Custom Projects</a>
      <a href="">Artists</a>
      <a href="">About</a>
    </div>
    <div class="rightNav">
      <div class="search-wrapper">
        <i class="ri-search-ulne"></i>
        <input type="text" placeholder="Search for artists or artworks...">
      </div>
      <a href=""><i class="ri-shopping-cart-2-line"></i></a>
      <a href=""><i class="ri-user-3-line"></i></a>
    </div>
  </div>